<% if @in_wizard %>
  <%= render "shared/setup_wizard", :active => "add-students" %>
  <div class="alert alert-info">
    <strong>Don't sweat it:</strong> you can totally skip this step:
    when your students send an email to submit a homework, if their
    email wasn't on your student list, it will be <em>automatically added</em>
  </div>
<% end %>
<%= render :partial => 'form' %>
