<div class="hero-unit" id="splash">
  <h1>Homework.io</h1>
  <p>Save your homeworks from email hell</p>
  <p>
    <a class="btn btn-primary btn-large" href="<%= new_user_registration_path %>">
     Sign up! 
    </a>
  </p>
</div>
