<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Oh noes! It seems that you sent your homework for "<%= @submission.homework.title %>" without an attachment!
      Currently, the homework system only accepts as delivered submissions that include attachments
    <p>

    <p>
      <strong>But don't worry!</strong> Just reply to this email with an attachment
      and your homework will be considered delivered, no one has to know!
    </p>
  </body>
</html>
