<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi!</p>

    <p>
      Your response to the homework "<%= @submission.homework.title%>", assigned by
      <%= @submission.homework.list.user.email %> has been safely delivered to the
      homework system. You can go to sleep now!
    </p>
  </body>
</html>
